<!DOCTYPE html>
<html lang="ko">
  <head>
		<meta charset="utf-8"/>
    <title><%= title %></title>
    <script data-main="js/game" type="text/javascript" src="/bower_components/requirejs/require.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <div id="screen"></div>
  </body>
</html>
