@font-face {
  font-family: tinyPixy;
  src: url('../media/font/TinyPixy.ttf');
}
* {
  font-family: tinyPixy;
  color: white;
}
body {
  margin: 0;
}
p {
  -webkit-margin-before: 0;
}
#screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
}
.dialog {
  border: 3px white solid;
  position: relative;
  z-index: 512;
  margin-top: 10px;
}
.dialog .title {
  border: 0;
  position: relative;
  text-align: center;
  width: calc(100% - 5px);
  overflow: hidden;
  text-overflow: ellipsis;
  top: -10px;
}
.dialog .content {
  position: relative;
  padding: 5px 0 5px 5px;
  width: calc(100% - 10px);
  height: calc(100% - 20px);
  overflow-y: scroll;
  word-break: break-all;
  top: -10px;
}
.dialog .title span {
  background: black;
  padding: 0 5px;
}
.sprite {
  position: absolute;
}